*.bak
*.qws
*.rpt
*.done
*.smsg
*.summary
*.pin
*.dat
*.dbs
*.vhd
*.prw
*.psm
*.mti
**/db/
**/incremental_db/
**/simulation/
*.suo
**/bin/Debug
**/bin/Release
**/obj/Debug
**/obj/Release
**/riscv32-elf-tools-windows/*.bin
**/USTCRVSoC-nexys4.runs
**/USTCRVSoC-nexys4/*.log
**/USTCRVSoC-nexys4.sim
!Nexys4_USTCRVSoC_top.bit
**/software/ASM
**/Quartus/UART_ISP_TEST